<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="formacion-techu-0802">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `formacion-techu-0802`
     * -
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class FormacionTechu0802 extends Polymer.Element {
      static get is() { return 'formacion-techu-0802'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'formacion-techu-0802'
          }
        };
      }
    }

    window.customElements.define(FormacionTechu0802.is, FormacionTechu0802);
  </script>
</dom-module>
