<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="./my-list-item.html">

<dom-module id="my-list">
  <template>
    <style>
    </style>

    <template
      is="dom-repeat"
      items=[[users]]
      as="user">
        <my-list-item
          id="[[user.id]]"
          name="[[user.name]]"
          email="[[user.email]]"
          city="[[user.city]]"
          address="[[user.address]]"
          company="[[user.company]]"
          on-click="_handleClickListItem">
        </my-list-item>
    </template>
  </template>

  <script>
    /**
     * `formacion-techu-0802`
     * -
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MyList extends Polymer.Element {
      static get is() { return 'my-list'; }
      static get properties() {
        return {
          users: {
            type: Array,
            value: []
          }
        };
      }

      _handleClickListItem(evt) {
        var user = evt.model.user;

        this.dispatchEvent(new CustomEvent('user-selected', { detail: user, bubbles: true, composed: true }));
      }
    }

    window.customElements.define(MyList.is, MyList);
  </script>
</dom-module>
